<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">


            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->

                <div class="container-xxl flex-grow-1 container-p-y "><br><br><br><br>
                    <!-- <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">UI Elements /</span> Cards Basic
                    </h4> -->

                    <!-- Examples -->
                    <div class="row mb-5">
                        <div class="col-md-6 col-lg-4 mb-3">
                            <div class="card h-100">
                                <img class="card-img-top" src="../../assets/var1.jpg" alt="Card image cap" />
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's content.
                                    </p>
                                    <a class="btn btn-outline-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-3">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                                </div>
                                <img class="img-fluid" src="assets/var2.jpg" alt="Card image cap" />
                                <div class="card-body">
                                    <p class="card-text">Bear claw sesame snaps gummies chocolate.</p>
                                    <a class="card-link">Card link</a>
                                    <a class="card-link">Another link</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-3">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                                    <img class="img-fluid d-flex mx-auto my-4" src="assets/var3.jpg"
                                        alt="Card image cap" />
                                    <p class="card-text">Bear claw sesame snaps gummies chocolate.</p>
                                    <a class="card-link">Card link</a>
                                    <a class="card-link">Another link</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Examples -->

                </div>
                <!-- / Content -->

            </div>

        </div>

    </div>

</body>    
