<section class="feedback">
    <h3>Connect With ASK Jennie Team</h3>
      <small *ngIf="error != ''" style="color: tomato;">{{error}}</small>
      <br><br>
    <div *ngIf="feedbacksubmitted === false">
        <div class="form-row">
          <div class="form-group col-md-8">
            <label>Subject <small style="color: rgba(0,0,0,0.4);">*required</small></label>
            <input [(ngModel)]="subject" type="text" class="form-control" placeholder="Subject">
          </div>
          <div class="form-group col-md-4">
            <label>Query Type</label>
            <select class="form-control" [(ngModel)]="type">
                <option value="feedback">Feedback on Product</option>
                <option value="bug">Bug</option>
                <option value="request-for-automation">Request For Automation</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Message <small style="color: rgba(0,0,0,0.4);">*required</small></label>
          <textarea type="text" class="form-control" [(ngModel)]="message" rows="5" placeholder="Write a little more detail about Feedback / Bug / Automation Request"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" (click)="submit_feedback()">Send Message</button>
    </div>
    <div *ngIf="feedbacksubmitted === true">
      <h2 style="text-align: center;">We have recieved you message and will reply you soon.</h2>
      <h4 style="text-align: center;">Thank you</h4>
    </div>
</section>