
<div class="container mt-5 mb-5 ">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10">
            <div class="row p-5 bg-white rounded shadow">
                <div class="col-md-3 mt-1">
                    <img class="img-fluid img-responsive rounded product-image" src="../../assets/phone.jpeg"></div>
                <div class="col-md-6 mt-1">
                    <h4  class="media-title font-weight-semibold">
                        <a href="#" data-abc="true">Apple iPhone XR (Red, 128 GB)</a>
                    </h4>
    
                    <ul class="list-inline list-inline-dotted mb-3 mb-lg-2">
                        <li class="list-inline-item"><a href="#" class="text-muted" data-abc="true">Phones</a></li>
                        <li class="list-inline-item"><a href="#" class="text-muted" data-abc="true">Mobiles</a></li>
                    </ul>
    
                    <p class="mb-3">128 GB ROM | 15.49 cm (6.1 inch) Display 12MP Rear Camera | 7MP Front Camera A12
                        Bionic Chip Processor | Gorilla Glass with high quality display </p>
    
                    <ul class="list-inline list-inline-dotted mb-0">
                        <li class="list-inline-item">All items from <a href="#" data-abc="true">Mobile point</a>
                        </li>
                        <li class="list-inline-item">Add to <a href="#" data-abc="true">wishlist</a></li>
                    </ul>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <h3 class="mb-0 font-weight-semibold">$459.99</h3>

                <div class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>

                </div>

                <div class="text-muted">1985 reviews</div>

                <button type="button" class="btn btn-warning mt-4 text-white"><i class="icon-cart-add mr-2"></i>
                    Add to cart</button>
                </div>
            </div>

        </div>
    </div>
</div>