<!-- <app-home></app-home> -->
<!-- <app-card></app-card> -->
<!-- <app-login></app-login> -->
<!-- <app-signup></app-signup> -->
<!-- <app-signup-with-img></app-signup-with-img> -->
<!-- <app-signin-with-img></app-signin-with-img> -->

<!-- <app-simple-right-header></app-simple-right-header> -->
<!-- <app-simple-center-header></app-simple-center-header> -->

<!-- <app-header-with-rightbutton></app-header-with-rightbutton> -->
<!-- <app-header-button-with-search></app-header-button-with-search> -->
<app-header-search-with-profile></app-header-search-with-profile>
<!-- <app-doubleheader></app-doubleheader> -->

<!-- <app-header-topnav-with-header></app-header-topnav-with-header> -->


<!-- <app-product-gallery></app-product-gallery> -->
