<section id="login">
  <div class="container">  

    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    
          <img src="https://i.ibb.co/hL4XZp2/android-chrome-192x192.png" class="card-img-top" alt="...">

        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
             
            <h1 class="card-title text-center mb-4">Please, enter the OTP received on your email address</h1>
            <p class="card-title text-center mb-4">
              A code has been sent to *******9897
          </p>
            <form>
              
              <div id="otp" class="form-floating mb-3 inputs d-flex flex-row justify-content-center mt-2">
                 
                <input class="m-2 text-center form-control rounded" type="text" id="first" maxlength="1" />
                <input class="m-2 text-center form-control rounded" type="text" id="first" maxlength="1" />
                <input class="m-2 text-center form-control rounded" type="text" id="first" maxlength="1" />
                <input class="m-2 text-center form-control rounded" type="text" id="first" maxlength="1" />
                
              </div><br>
             
              <div class="">
                <a class="btn btn-primary btn-login text-center text-uppercase fw-bold" type="submit">Change Password
                </a>
              </div> 
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



