<div class="jennie-guide container">
    <div class="row">
    <div class="col-lg-3">
        <ul class="">
           <li class="list-item" *ngFor="let guide of guidemap; let j = index" [class.active]="guide.url === link_to_show">
                <a class="component-link" href="javascript:void(0)" (click)="show_readme(guide.url)">{{guide.title}}</a>
            </li>
        </ul>
    </div>
    <div class="col-lg-9">
        <section class="guide-card" *ngIf="link_to_show != ''">
            <markdown
                clipboard
                [src]="link_to_show">
            </markdown>
        </section>
    </div>
</div>
</div>