<!-- <section id="login">
  <div class="container">  

    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    
          <img src="https://i.ibb.co/hL4XZp2/android-chrome-192x192.png" class="card-img-top" alt="...">

        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
             
            
            <p class="card-title text-center mb-4">
              We cannot simply send you your old password. A unique link to reset your
              password has been generated for you. To reset your password, click the
              following link and follow the instructions.
          </p>
            <form>
              
              <div class="form-floating mb-3">
                 
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">New Password</label>
              </div>

              <div class="form-floating mb-3">
                 
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Confirm Password</label>
              </div>
             
              <div class="">
                <a class="btn btn-primary btn-login text-center text-uppercase fw-bold" type="submit">Save Password
                </a>
              </div> 
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->


<section id="login">
  <div class="container">  
    <div class="row">
     
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <img style="width: 6rem; height: 4rem;" src="https://i.ibb.co/hL4XZp2/android-chrome-192x192.png" class="img-fluid mt-4 offset-md-5 " alt="...">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
           
            <p class="text-center mb-4 "> We cannot simply send you your old password. A unique link to reset your
              password has been generated for you. To reset your password, click the
              following link and follow the instructions.</p>
            <form>
              <div class="form-floating mb-3">
                 
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">New Password</label>
              </div>

              <div class="form-floating mb-3">
                 
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Confirm Password</label>
              </div>
            
              <div class="d-grid">
                <button  class="btn btn-primary btn-login text-uppercase fw-bold" style="float: center;" type="submit">Save Password
                </button>
              </div>         
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
