<div class="slidebar">
    <ul class="outer-ul">
        <li *ngFor="let menu of sidebar; let i = index" class="main-menu-text">
            <a class="main-menu-title" href="javascript:void(0)" (click)="return_clicked_event(menu, i)">{{menu.title}}</a>            
            <ul>
                <li [class.hide]="i!==selected" [class.show]="i===selected" *ngFor="let element of menu.submenu; let j = index" class="sub-menu-text">
                    <a class="sub-menu-title" href="javascript:void(0)" (click)="return_clicked_event(element, -1)">{{element.title}}</a>
                </li>
            </ul>
        </li>
    </ul>
</div>