<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <div class="container-xxl flex-grow-1 container-p-y p-5">
            <!-- Images -->
       
            <div class="row mb-5">
                <div class="col-md-6 col-xl-4">
                    <div class="card mb-3">
                        <img class="card-img-top" src="assets/imgvar1.jpg" alt="Card image cap" />
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">
                                This is a wider card with supporting text below as a natural lead-in to additional
                                content. This
                                content is a little bit longer.
                            </p>
                            <p class="card-text">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">
                                This is a wider card with supporting text below as a natural lead-in to additional
                                content. This
                                content is a little bit longer.
                            </p>
                            <p class="card-text">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </p>
                        </div>
                        <img class="card-img-bottom" src="assets/imgvar2.jpg" alt="Card image cap" />
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="card bg-dark border-0 text-white">
                        <img class="card-img" src="assets/imgvar3.jpg" alt="Card image" />
                        <div class="card-img-overlay">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">
                                This is a wider card with supporting text below as a natural lead-in to additional
                                content. This
                                content is a little bit longer.
                            </p>
                            <p class="card-text">Last updated 3 mins ago</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Images -->
        </div>
    </div>
</div>