<!-- Header/Navigation -->
<nav class="navbar navbar-expand-lg navbar-blue">
    <div class="container-fluid">
      <img src="https://ask-jennie.com/assets/images/jennie-logo4.png" width="120" height="45">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav me-auto mb-2 mb-lg-0">
        </div>
        <form class="d-flex">
          <button class="btn btn-outline-light btn-jennie" type="submit" formaction="https://github.com/Ask-Jennie/py-jennie" formtarget="_blank">Jennie Python Package</button>
        </form>
      </div>
    </div>
</nav>
<!-- end of header/navigation -->

<!-- Main Content -->
<div class="container bg-layout">
    <div class="row">
      <!-- Left Sidebar -->
      <div class="col-md-3"> 
        <div class="sidebar"> 
          <div class="category">
            <!-- <div class="jennie-search mb-3">
            <h5 class="sidebar-subtitle">Search</h5>
            <input class="form-control" type="text" placeholder="Default input" aria-label="default input example">
            </div> -->
            <div class="category-dropmenu mb-3">
              <h5 class="sidebar-subtitle">Category</h5>
            <select class="form-select" aria-label="Default select example" [(ngModel)]="type_automation" (change)="onTypeChanged($event)">
              <option value="angular-ui-lib">Angular UI Lib</option>
              <option value="angular-automations">Angular Automation</option>
            </select>
            <br>
            </div>
            
            <div class="clear-filter">
            <h5 class="sidebar-subtitle">Components</h5>
            <p class="clear-filter-text" *ngIf="filter_tag !== ''">{{filter_tag}} <a href="#" (click)="filter_tag = ''; show_data()">Clear</a></p>
            </div>
          </div>
          <div class="ui-sidebar">
          <ul class="components-list">
            <li class="list-item" *ngFor="let tag of tags; let j = index">
                <a class="d-flex flex-wrap justify-content-between align-items-center component-link" href="javascript:void(0);" (click)="showTagItem(tag.tag)">
                  <div class="link">{{tag.tag}}</div>
                  <div class="count">({{tag.count}})</div>
                </a>
            </li>            
          </ul>
          </div>
        </div>      
      </div>
      <!-- end of left sidebar -->

      <div class="col-md-9">
      <section class="card-content" *ngFor="let gallery of ui_gallery; let i = index">
          <div class="container lg-card">
              <h4 class="fw-bold pt-5">{{gallery.app_title}}</h4>              
              <div class="d-flex flex-wrap justify-content-between align-items-center mb-3">
                <div class="">
                  <span class="badge rounded-pill jennie-badge">
                    <span style="color: red;"><i class="fab fa-angular"></i></span>Angular-UI-Lib</span>
                  <span class="badge rounded-pill jennie-badge">
                    <span style="color: #806cf9;"><i class="fab fa-bootstrap"></i></span>Bootstrap</span>
                  <!-- <span class="badge rounded-pill jennie-badge">
                    <span><i class="fas fa-layer-group"></i></span>Component</span> -->
                </div>
                <div class="" *ngIf="type_automation === 'angular-ui-lib'">
                  <ul class="nav nav-pills preview-code" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" data-bs-toggle="pill" href="#preview-{{i}}">Preview
                        <span><i class="fas fa-eye"></i></span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-bs-toggle="pill" href="#code-{{i}}">Code
                        <span><i class="fas fa-code"></i></span></a>
                    </li>
                  </ul>
                </div>
                <div class="" *ngIf="type_automation !== 'angular-ui-lib'">
                  <ul class="nav nav-pills preview-code" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" data-bs-toggle="pill" href="#code-{{i}}">Code
                        <span><i class="fas fa-code"></i></span></a>
                    </li>
                  </ul>
                </div>
              </div>

              <!-- Tab panes -->
              <div class="tab-content">
                <div id="preview-{{i}}" class="container tab-pane active"  *ngIf="type_automation === 'angular-ui-lib'" [class.fade]="type_automation !== 'angular-ui-lib'"><br>
                  <img class="ui-lib-image" [src]="gallery.app_image">
                </div>
                <div id="code-{{i}}" class="container tab-pane fade" [class.fade]="type_automation === 'angular-ui-lib'" [class.active]="type_automation !== 'angular-ui-lib'"><br>
                  <h3>Code</h3>
                  <pre>jennie angular ui-lib download {{gallery.app_name}}</pre>
                  <span *ngIf="type_automation === 'angular-ui-lib'">
                  <p><br><br> Make sure the command is executed inside from angular project, once the command is finished user shall find the module at src/app/ui-lib/{{gallery.app_name}}. The component can be used by adding tag <br><br></p>
                  <pre>&lt;app-{{gallery.app_name}}&gt;&lt;/app-{{gallery.app_name}}&gt; </pre>
                  </span>
                  <p>{{gallery.app_description}}</p>
                </div>
              </div>
          </div>
      </section>
      </div>
    </div>
</div>