<!-- Header/Navigation -->
<nav class="navbar navbar-expand-lg navbar-blue">
    <div class="container-fluid">
      <img src="https://ask-jennie.com/assets/images/jennie-logo4.png" width="120" height="45">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav me-auto mb-2 mb-lg-0">
        </div>
        <form class="d-flex">
          <button class="btn btn-outline-light btn-jennie" type="submit" formaction="https://github.com/Ask-Jennie/py-jennie" formtarget="_blank">Jennie Python Package</button>
        </form>
      </div>
    </div>
</nav>
<!-- end of header/navigation -->

<!-- Main Content -->
<div class="container bg-layout">
    <div class="row">
      <!-- Left Sidebar -->
      <div class="col-md-3">

        <div class="sidebar"> 
          <div class="category">
            <h5>Categories</h5>
            <p *ngIf="filter_tag !== ''">{{filter_tag}} <a href="#" (click)="filter_tag = ''; show_data()">Clear</a></p>
          </div>
          <div class="ui-sidebar">
          <ul>
            <li class="list-item" *ngFor="let tag of tags; let j = index">
                <a href="javascript:void(0);" (click)="showTagItem(tag)">{{tag}}</a>
            </li>            
          </ul>
        </div>
        </div>      
      </div>
      <!-- end of left sidebar -->

      <div class="col-md-9">
        <section class="card-content" *ngFor="let gallery of ui_gallery; let i = index">
          <div class="container lg-card">
              <h4 class="fw-bold pt-5">{{gallery.app_title}}</h4>
              <p>{{gallery.description}}</p>
              <div class="d-flex flex-wrap justify-content-between align-items-center mb-3">
                <div class="">
                  <span class="badge rounded-pill jennie-badge">
                    <span style="color: red;"><i class="fab fa-angular"></i></span>Angular</span>
                  <span class="badge rounded-pill jennie-badge">
                    <span style="color: #806cf9;"><i class="fab fa-bootstrap"></i></span>Bootstrap</span>
                  <span class="badge rounded-pill jennie-badge">
                    <span><i class="fas fa-layer-group"></i></span>Component</span>
                </div>
                <div class="">
                  <div class="btn-group">
                    <button type="button" class="btn ">Preview
                      <span><i class="fas fa-eye"></i></span>
                    </button>
                    <button type="button" class="btn">Code
                      <span><i class="fas fa-code"></i></span>
                    </button>
                  </div>
                </div>
              </div>
              <img class="ui-lib-image" [src]="gallery.app_image">
              <!-- <div class="card">
                  <div class="card-body ">
                      <p class="pt-5">05 . Pricing</p>
                      <div class="text-center">
                          <h1 class="card-title fw-normal ">Chooes the plan <br>that's right for you</h1><br><br>
                      </div>
                      <div class="row">
                          <div class="col-sm-6 p-2">
                            <div class="card card1">
                              <div class="card-body">
                                <h5 class="card-title">12 Months <span class="small offset-md-5">Membership</span></h5>
                                <p class="card-text">20$<span class="small">/per month</span></p>
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                  <label class="form-check-label" for="flexCheckChecked">
                                      Lorem Ipsum
                                  </label>
                                </div><br>
      
                                <a href="#" class="btn btn-primary offset-md-5">Choose</a>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 p-2">
                            <div class="card card2">
                              <div class="card-body">
                                <h5 class="card-title">12 Months <span class="small offset-md-5">Membership</span></h5>
                                <p class="card-text">20$<span class="small">/per month</span></p>
      
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                  <label class="form-check-label" for="flexCheckChecked">
                                      Lorem Ipsum
                                  </label>
                                </div><br>
                                <a href="#" class="btn btn-primary offset-md-5">Choose</a>
                              </div>
                            </div>
                          </div>
                        </div>
                  </div>
              </div> -->
          </div>
      </section>
        <!-- <div class="search-area">
          <div class="ui-box" *ngFor="let gallery of ui_gallery; let i = index">
            <h2 class="ui-lib-name">{{gallery.app_title}}</h2>    
            <p>{{gallery.description}}</p>
            <span class="badge bg-success">Angular Component Library</span>
            <br><br>
            <img class="ui-lib-image" [src]="gallery.app_image">
            <div class="code-area">      
              <pre>jennie angular ui-lib download</pre>
              <b>Input app name to be downloaded</b>
              <pre>>> {{gallery.app_name}}                 </pre>
            </div>
          </div>
        </div>         -->
      </div>
    </div>
</div>