<nav class="navbar navbar-expand-lg navbar-blue">
    <div class="container-fluid">
      <img src="https://ask-jennie.com/assets/images/jennie-logo4.png" width="120" height="45">
      <!-- <p>UI Gallery - Angular</p> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav me-auto mb-2 mb-lg-0">
        </div>
        <form class="d-flex">
          <button class="btn btn-outline-light btn-jennie" type="submit" formaction="https://github.com/Ask-Jennie/py-jennie" formtarget="_blank">Jennie Python Package</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="sidebar"> 
          <div class="category">
            <h5>Categories</h5>
            <p *ngIf="filter_tag !== ''">{{filter_tag}} <a href="#" (click)="filter_tag = ''; show_data()">Clear</a></p>
          </div>
          <div class="ui-sidebar">
          <ul>
            <li class="list-item" *ngFor="let tag of tags; let j = index">
                <a href="javascript:void(0);" (click)="showTagItem(tag)">{{tag}}</a>
            </li>            
          </ul>
        </div>
        </div>      
      </div>
      <div class="col-md-9">
        <div class="search-area">
          <div class="ui-box" *ngFor="let gallery of ui_gallery; let i = index">
            <h2 class="ui-lib-name">{{gallery.app_title}}</h2>    
            <p>{{gallery.description}}</p>
            <span class="badge bg-success">Angular Component Library</span>
            <br><br>
            <img class="ui-lib-image" [src]="gallery.app_image">
            <div class="code-area">      
              <pre>jennie angular ui-lib download</pre>
              <b>Input app name to be downloaded</b>
              <pre>>> {{gallery.app_name}}                 </pre>
            </div>
          </div>
        </div>        
      </div>
    </div>
</div>