.card-img-top {
  width: 90px;
  height: 79px;
  margin-left: 18rem;
  

}

.btn-login {
  font-size: 1.0rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  background-color: #3396d6;
  border: none;
  margin-left: 12.8rem;

}
.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
  margin-top: 10em;
  margin-bottom: 9.8em;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgb(182, 216, 236);
  background-clip: border-box;
  border: 1pxsolidrgba(0, 0, 0, .125);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  width: 40rem;
  height: 25rem;
}

.row {

  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(4.5 * var(--bs-gutter-x)) !important;
  margin-left: calc(-.5 * var(--bs-gutter-x));
}
h1  {
  font: 400 24px/32px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
  margin: 0 0 16px;
  color: #1e1e2d;
  font-weight: 500;
  margin: 0;
  font-size: 32px;
  font-family: 'Rubik',sans-serif;
}




p {
  margin: -27px 0 19px;
  color: #455056;
  font-size: 18px;
  line-height: 24px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
  



@media only screen and (max-width: 640px) {

  .mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;

    margin-top: 0px;
    margin-bottom: 0em;

  }

  .card-img-top {
    width: 100px;
    height: 50px;
    margin-left: 5rem;

  }


}