
p{

  margin: -27px 0 19px;
    color: #455056;
    font-size: 15px;
    line-height: 22px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.btn-login {
  font-size: 1.0rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  width: 8rem;
  float: center;
  margin-left: 9rem;

}

.mx-auto {
  margin-right: auto!important;
  margin-left: auto!important;
  margin-top: 10em;
  margin-bottom: 9.8em;
}


.card-title{

  letter-spacing: normal;
  /* margin: 0 0 16px; */
  color: #1e1e2d;
  font-weight: 400;
  margin: 0;
  font-size: 30px;
  font-family: 'Rubik',sans-serif;
  line-height: 2rem;
}


@media only screen and (max-width: 640px) {
 
  .mx-auto {
      margin-right: auto!important;
      margin-left: auto!important;

      margin-top: 0px;
      margin-bottom: 0em;
     
}

.btn-login {
  font-size: 1.0rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  width: 8rem;
  float: center;
  margin-left: 5rem;

}
p{

  margin: -27px 0 19px;
    color: #455056;
    font-size: 13px;
    line-height: 19px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.card-title{

  letter-spacing: normal;
  color: #1e1e2d;
  font-weight: 500;
  margin: 0;
  font-size: 25px;
  font-family: 'Rubik',sans-serif;
  line-height: 1.7rem;
}
img{
  margin-left: 9em;

}

}

@media only screen and (max-width: 782px) {
 
  .mx-auto {
      margin-right: auto!important;
      margin-left: auto!important;

      margin-top: 0px;
      margin-bottom: 0em;
     
}

img{
  margin-left: 10em;

}

.btn-login {
  font-size: 1.0rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  width: 8rem;
  float: center;
  margin-left: 4.7rem;

}
p{

  margin: -27px 0 19px;
    color: #455056;
    font-size: 13px;
    line-height: 19px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.card-title{

  letter-spacing: normal;
  color: #1e1e2d;
  font-weight: 500;
  margin: 0;
  font-size: 25px;
  font-family: 'Rubik',sans-serif;
  line-height: 1.7rem;
}

}


@media only screen and (max-width: 320px) {
 
  .mx-auto {
      margin-right: auto!important;
      margin-left: auto!important;

      margin-top: 0px;
      margin-bottom: 0em;
     
}

.btn-login {
  font-size: 1.0rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  width: 8rem;
  float: center;
  margin-left: 11.3rem;

}
p{

  margin: -27px 0 19px;
    color: #455056;
    font-size: 13px;
    line-height: 19px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.card-title{

  letter-spacing: normal;
  color: #1e1e2d;
  font-weight: 500;
  margin: 0;
  font-size: 25px;
  font-family: 'Rubik',sans-serif;
  line-height: 1.7rem;
}

}

