.card-img-top{
width: 200px;
height: 100px;
margin-left: 12rem;

}
  
  .btn-login {
    font-size: 1.0rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    background-color: #3396d6;
    border: none;

  }
  


  .mx-auto {
    margin-right: auto!important;
    margin-left: auto!important;
    margin-top: 10em;
    margin-bottom: 9.8em;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(182, 216, 236);
    background-clip: border-box;
    border: 1pxsolidrgba(0,0,0,.125);
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    width: 40rem;
    height: 25rem;
}

/* .card-body{

    border-top: solid 6px #3396d6;
    border-bottom: solid 6px #3396d6;
    border-left: solid 6px #3396d6;
    border-right: solid 6px #3396d6;
} */


.row {

    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(4.5 * var(--bs-gutter-x)) !important;
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

@media only screen and (max-width: 640px) {
   
    .mx-auto {
        margin-right: auto!important;
        margin-left: auto!important;

        margin-top: 0px;
        margin-bottom: 0em;
       
  }

  .card-img-top{
    width: 100px;
    height: 50px;
    margin-left: 5rem;
    
    }
     

}
