<section id="login">
    <div class="container">  

      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      
            <img src="https://i.ibb.co/hL4XZp2/android-chrome-192x192.png" class="card-img-top" alt="...">

          <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">
               
              <h1 class="card-title text-center mb-4">Please, enter your email address where you will receive the OTP</h1>
              <p class="card-title text-center mb-4">
                We cannot simply send you your old password. A unique link to reset your
                password has been generated for you. To reset your password, click the
                following link and follow the instructions.
            </p>
              <form>
                
                <div class="form-floating mb-3">
                   
                  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                  <label for="floatingInput">Enter Your Email</label>
                </div><br>
               
                <div class="">
                  <a class="btn btn-primary btn-login text-center text-uppercase fw-bold" type="submit">Send OTP
                  </a>
                </div> 
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  
  