
.jennie-badge {
    margin: 0 3px;
    padding: 0.25rem 0.75rem;
    color: #4c4c4c;
    background-color: #fff;
    box-shadow: 0px 1px 2px rgb(166 175 195 / 25%);
}

.form-control {
    width: 100%;
}

.ui-box {
    padding: 20px;    
    border-radius: 5px;
    border: 1px solid #e9ecef;
    border-left: 4px solid #5bc0de;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%), inset 0 -1px 0 rgb(0 0 0 / 15%);
    margin-top: 20px;
    margin-bottom: 20px;
    background: white;
}

.ui-lib-image {
    width: 100%;
}

pre {
    background: #fff;
    border-radius: 6px;
    padding: 2px 16px;
    overflow: auto;
    line-height: 50px;
    margin-top: 20px;
    width: max-content;
}

.btn-copy {
    list-style: 1.45;
    float: right;
    margin: 8px;
}
.btn-jennie:focus {
    box-shadow: none;
}
ul {
    list-style: none;
    padding: 0;
}
.preview-code {
    list-style: none;
    padding: 2px;
    width: 100%;
    border-radius: 6px;
    background-color: rgba(234,235,238,1);
}

.list-item {
    display: block;
    padding: 10px 6px;
}
.list-item:hover {
    background-color: #f4f5f7;
    cursor: pointer;
    border-radius: 6px;
}
.list-item a {
    text-decoration: none;
    color: rgb(13, 23, 42);  
    font-size: .95rem;
    font-weight: 700;
}
.category {
    display: block;
    padding: 28px 0 5px 0;
}
.lg-card {
    margin-top: 1.75rem;
    background-color: #f4f5f7;
    padding-bottom: 60px;
    border-radius: 6px;
}
.lg-card:hover {
    box-shadow: 0 10px 20px 0 rgb(18 19 20 / 22%)
}
.btn {
    border: solid 1px blue;
}
.menu-icon-area {
    position: absolute; bottom:5px; left: 20%;
}

.menu-icons {
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 300;
    cursor: pointer;
    padding-bottom: 5px;
    margin-left: 30px;
}

.menu-icons:hover {
    border-bottom: 3px solid #2081C3;
}

.menu-icons.active {
    border-bottom: 3px solid #2081C3;
}
.author{
    text-align: right;
    margin: 5px 0 0 0;
    font-size: 0.9rem;
}
.pagination {
    margin-bottom: 2.5rem;
    padding-top: 15px !important;
    justify-content: flex-end;
}



@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

h1 {
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 20px;
}

h3, h4 {
    margin-bottom: 10px;
}

pre {
    background: #2d3145;
    padding: 20px 20px;
    background-color: #75689633;
    border: 0.5px solid #DBDBDB;
    border-radius: 6px;
    color: #444;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 1.5rem;
}

table tr td pre {
    max-width: 400px;
    overflow-x: scroll;
}

td, th {
    border: 1px solid;
    padding: 5px;
}